<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.mapper.DeptMapper">

    <resultMap id="deptMap" type="Dept">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <collection property="userList" column="id" ofType="User" select="com.yjf.mapper.UserMapper.selectUsersByDeptId"/>
    </resultMap>

    <select id="selectAllDept" resultMap="deptMap">
        SELECT
        dept.id,
        dept.`name`
        FROM
        dept
    </select>






</mapper>